body{
               
                background-color: window;
                clear: both;
                
            }
            
.body{
                margin: 0 auto;
                width: 70%;
            }
            .mainHeader{
                height: auto;
                margin: 2% 0;
            }

            .mainHeader nav{
                margin: 3% 0;
                background-color:darkblue;
                height: 40px;
                border-radius: 6px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
            }
            .mainHeader nav ul{
                list-style: none;
                margin: 0 auto;
            }
            .mainHeader nav ul li{
                float: left;
                display: inline;
                
            }
            .mainHeader nav a:link, .mainHeader nav a:visited{
                color: white;
                display: inline-block;
                padding: 10px 10px;
                height: 40px;
            } 
           
            .mainHeader nav a:hover{
                background-color: orangered;
                color: black;
            }
            .mainHeader nav ul li a{
                font-size: 13px;
                border-radius: 10px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
            }
            .content ul{
                list-style: none;
                margin: 0 auto;
            }
            .content ul li{
                float: left;
            }
            .content a:link, .content a:visited{
                color: white;
                display: inline-block;
                padding: 10px 10px;
                height: 40px;   
            }
            
            
            